#{extends 'main.html' /}
#{set title:'Q2 50音変換' /}
<form action="@{Input2.perform()}">
<h2>説明</h2>
<div id="explanationArea">
アルファベットの文字列を渡して、ローマ字読みでそれに当てはまる50音のひらがな文字を文字列として返す。<br>
ただし、渡す文字列は半角の2文字までで、例えば「ち」は "chi" ではなく "ti" で表現する。
</div>
<h2>入力</h2>
<div id="inputArea">
  <input type="text" name="param1"  value="${param1}"  maxlength="2"/><br>
  <input type="submit" id="btnExecute"  value="実行" /><br>
</div>
<h2>実行結果</h2>
<div id="resultArea">
#{list items:resultMap, as:'result' }
  ${result.key} ${result.value}<br>
#{/list}
</div>
</form>