#{extends 'main.html' /}
#{set title:'ローマ数字変換' /}
<form action="@{RomanConverter.perform()}">
<h2>説明</h2>
<div id="explanationArea">
ローマ数字を文字列として受け取り、int型に変換して返す。<br>
ローマ数字は以下の文字の組み合わせで1から3999の数を表すものとする。<br>
<pre>
 - 3000 = "MMM", 2000 = "MM",   1000 = "M"
 -  900 = "CM",   800 = "DCCC",  700 = "DCC", 600 = "DC", 500 = "D",
    400 = "CD",   300 = "CCC",   200 = "CC",  100 = "C"
 -   90 = "XC",    80 = "LXXX",   70 = "LXX",  60 = "LX",  50 = "L",
     40 = "XL",    30 = "XXX",    20 = "XX",   10 = "X"
 -    9 = "IX",     8 = "VIII",    7 = "VII",   6 = "VI",   5 = "V",
      4 = "IV",     3 = "III",     2 = "II",    1 = "I"
</pre>
ローマ数字には、4を"IIII"と表す、9を"VIIIII"と表すなど、上記以外の表記が存在するが対応しない。<br>
小文字表記("vii"など)には対応しない。
</div>
<h2>入力</h2>
<div id="inputArea">
<input type="text" name="param1"  value="${param1}"  maxlength="15"  size="25"/>
<br>
  <input type="submit" id="btnExecute"  value="実行" /><br>
</div>
<h2>実行結果</h2>
<div id="resultArea">
#{list items:resultMap, as:'result' }
  ${result.key} ${result.value}<br>
#{/list}
</div>
</form>