tr.scoreboard {
  height: 40px;
}

td.scoreboard {
  border: 3px solid black;
}

td.success,td.error,td.notyet{
  width: 100px;
  color: white;
}

td.success {
  background-color: green;
}

td.error {
  background-color: red;
}

td.notyet {
  background-color: gray;
}

div.teamResult {
  float: left;
  margin: 10px;
}