body {
	margin: 0px;
}
h1 {
	padding: 10px;
	margin: 0;
	background-color: #000;
	color: #FFF;
	letter-spacing: 1em;
}
h2 {
  line-height: 10px;
}

table {
  border-collapse: collapse;
  border: 1px solid gray;
}

th {
  background-color: lime;
}

th, td {
  border: 1px solid gray;
}

#navigationArea {
  background-color: #CCC;
  padding:5px;
}
A {
  color: #009;
}

#messageArea {
  margin-top: 5px;
  height: 20px;
  color: red;
  overflow-y: scroll;
}