.board {
  border-bottom:1px dashed #000;
}
.board [class*="span"] {
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 30px;
  line-height: 30px;
}
.board:hover  {
  background: #FFD;
}
.board {
  margin-top: 0;
  margin-bottom: 0;
}


.bingo-ok, .bingo-ng {
	float: left;
	width:30px;
	height:30px;
	margin: 0px;
	padding: 0;
	border:1px solid #CCC;
}
.bingo-ng {
	background-color: #F00;
}
.bingo-ok {
	background-color: #0F0;
}

