.board {
  border-bottom:1px dashed #000;
}
.board [class*="span"] {
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 30px;
  line-height: 30px;
}
.board:hover  {
  background: #FFD;
}
.board {
  margin-top: 0;
  margin-bottom: 0;
}

.badge {
  font-size: 15px !important;
}

.bingo {
	float: left;
	width:20px;
	height:30px;
	border:1px solid #CCC;
}

.test-header-list {
	list-style-type: none;
	padding: 0px;
}

.icon-error {
	background-image: url("../img/glyphicons-halflings-error.png");
}
