#{extends 'main.html' /}
#{set title:'あわじ' /}

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#score" data-toggle="tab">スコアボード</a></li>
    <li><a href="#bingo" data-toggle="tab">ビンゴ</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="score">


<div class="row-fluid board">
  <div class="span2">チーム名</div>
  #{list items:features.Feature.values(), as:'feature'}
    <div class='span1'>${feature}</div>
  #{/list}
</div>
#{list items:resultMap, as:'result'}
  <div class="row-fluid board">
    <div class="span2">${result.key}</div>
    #{list items:result.value, as:'score'}
      <div class="span1">#{devst.badge name:score.value/}</div>
    #{/list}
  </div>
#{/list}


    </div>
    <div class="tab-pane" id="bingo">

#{list items:resultMap, as:'result'}
    <div class="span3">${result.key}
    <div class="row">
        <div class="span3">
            #{devst.bingo result:result.value /}
        </div>
    </div>
    </div>
#{/list}



    </div>
  </div>
</div>

