#{extends 'main.html' /}
#{set title:'XP Workshop' /}
<h2>XP Workshop</h2>
<table border='1'>
<tbody>
<tr class="q">
<td>Q1</td><td class="${controllers.Application.test(models.Question1FunctionTest.class)}">足し算</td>
<td>Q2</td><td class="${controllers.Application.test(models.Question2FunctionTest.class)}">引き算</td>
<td>Q3</td><td class="error"></td>
<td>Q4</td><td class="error"></td>
</tr>
<tr class="q">
<td>Q5</td><td class="error"></td>
<td>Q6</td><td class="error"></td>
<td>Q7</td><td class="error"></td>
<td>Q8</td><td class="error"></td>
</tr>
<tr class="q">
<td>Q9</td><td class="error"></td>
<td>Q10</td><td class="error"></td>
<td>Q11</td><td class="error"></td>
<td>Q12</td><td class="error"></td>
</tr>
<tr class="q">
<td>Q13</td><td class="error"></td>
<td>Q14</td><td class="error"></td>
<td>Q15</td><td class="error"></td>
<td>Q16</td><td class="error"></td>
</tr>
<tr class="q">
<td>Q17</td><td class="error"></td>
<td>Q18</td><td class="error"></td>
<td>Q19</td><td class="error"></td>
<td>Q20</td><td class="error"></td>
</tr>
</tbody>
</table>